.header {
    margin-top: 20px;
    margin-bottom: 50px;
    z-index: 1;
}

.inside-header {
    position: relative;
}

.background_image_1 {
    position: absolute;
    top: -435px;
    left: -455px;
    z-index: -1;
}

.studio {
    position: absolute;
    top: 325px;
    left: -190px;
    opacity: .03;
}

.studio2 {
    position: absolute;
    opacity: .03;
    top: -90px;
    left: 1020px;
    z-index: 1;
}

.studio img,
.studio2 img {
    height: 100px;
}

.circle_background1,
.circle_background4 {
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #866dce, #a376c3);
    border-radius: 50%;
    filter: blur(12px);
    top: 0px;
    right: 510px;
}

.circle_background2,
.circle_background5 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #62BAC5, #3CEDCE);
    border-radius: 50%;
    filter: blur(11px);
    bottom: 5px;
    left: 395px;
}

.circle_background3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: linear-gradient(45deg, #866dce, #8888da);
    border-radius: 50%;
    filter: blur(12px);
    top: -24px;
    left: 23px;
}

.background_image_2 {
    position: absolute;
    top: -810px;
    right: -990px;
    z-index: -1;
}

.header-img {
    width: 100%;
}

.header-left {
    padding-right: 15%;
}

.header-left p {
    margin-top: 45px;
}

.header-left button {
    margin-top: 15px;
}

.pricing-btn {
    padding: 10px 22px;
}