.project-image{
    width: 100%;
}
.project {
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.header-right{
    width: 70%;
    margin-top: 45px;
}
.container{
    margin-top: 50px;
}
.contact{
    padding-left: 70px;
}