@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
  h1{
      color: black;
      font-family: 'Yeseva One', cursive;
  }

  .whatWeDo {
    background: #FAFFFD;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .card-body{
    padding: 30px;
    padding-top: 20px;
  }

  .whatWeDoCard{
    padding-top: 35px;
    background: none;
    border: none;
    border-radius: 65px 0;
    transition: .2s;
  }

  .whatWeDoCard:hover {
    box-shadow: 0 0 20px #eae9e9;
    background-color: white;
  }