body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Buenard', serif;
  font-size: 75px;
  line-height: .8;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-size: 34px;
  letter-spacing: -1px;
}

p {
  font-size: 14px;
  color: #8D8D8D;
}