body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Buenard', serif;
  font-size: 75px;
  line-height: .8;
}

h2 {
  font-family: 'Noto Serif', serif;
  font-family: 'Open Sans', sans-serif; 
}